.img_inport-image-cat{
    max-width:180px;
    max-height: 280px;
}
.inport-image-cat{
    padding:10px;
    background:#055987;
    display: flex;
    margin-bottom: 20px;
}
.image-cat-index{
    width: 140px;
    height: 160px;
}
.page-footer{
    position: fixed;
    bottom: 0;
}
.requiredLable{
    color: red;
}

/*  */
